.bytemd {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
}

.bytemd .bytemd-body {
  height: calc(100% - 58px) !important;
}

.bytemd .bytemd-editor,
.bytemd .bytemd-preview {
  height: 100% !important;
}

.CodeMirror {
  height: 100% !important;
}
